body{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav{
    background-color:palegreen;
    color: white;
    text-align: center;
    padding: 10px 0;
    

}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    margin-right: 20px;
    
}
nav li :hover{
    color: green;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    text-align:center;
}

.recipe{
    display: inline-block;
    width: 30%;
    margin: 20px;
    vertical-align: top;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.recipe h2{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.recipe p{
    color: #666;
    margin-bottom: 15px;
}

.recipe a{
    color: #333;
    text-decoration: none;
    font-weight: bolder;
}

.recipe a:hover{
    color: green;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
