body{
    background-color: antiquewhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h1{
    font-size: 30px;
    color: green;
    text-align:center;
    font-weight: 700;
}
h2{
    font-size: 22px;
    text-align: center;
    color: red;
    
    font-weight: 800;
    
}
h3{
    font-size: 15px;
    text-decoration: underline;
    color: orangered;
}
